 <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Shop App</h1>
                <p class="lead">KTÜ Mağazamıza Hoş Geldiniz!</p>
            </div>
        </div>
    </header>